
<ul class="collection with-header">
  <li class="collection-header"><h4>Quick Add</h4></li>
  <li class="collection-item"><div>Criminal<a href="criminals/new" class="secondary-content"><i class="material-icons">add_circle</i></a></div></li>
  <li class="collection-item"><div>Investigation<a href="investigations/new" class="secondary-content"><i class="material-icons">add_circle</i></a></div></li>
  <li class="collection-item"><div>Officer<a href="officers/new" class="secondary-content"><i class="material-icons">add_circle</i></a></div></li>
</ul>

<%= render partial: "main" %>