<div class="card">
  <div class="card-content">
    Total Number of Criminals in the GCPD System:
    <h1><%= Criminal.count %></h1>
    Total Number of Investigations in the GCPD System:
    <h1><%= Investigation.count %></h1>
    Total Number of Officers in the GCPD System:
    <h1><%= Officer.count %></h1>
    Total Number of Units in the GCPD System:
    <h1><%= Unit.count %></h1>
  </div>
</div>