<div class="card">
  <div class="card-content">
    Total Number of Criminals in the GCPD System:
    <h1><%= Criminal.count %></h1>
    Total Number of Open Investigations in the GCPD System:
    <h1><%= Investigation.is_open.count %></h1>
    Total Number of Active Officers in the GCPD System:
    <h1><%= Officer.active.count %></h1>
    Total Number of Active Units in the GCPD System:
    <h1><%= Unit.active.count %></h1>
  </div>
</div>