<div id="tabbed">
  <tabs>

    <tab name="recent investigations" v-bind:selected="true">
      <%= render :partial => "recent_investigations", locals: {state: 'active'} %>
    </tab>

    <tab name="recent assignments">
      <%= render :partial => "recent_assignments", locals: {state: 'inactive'} %>
    </tab>

    <tab name="recent suspects">
      <%= render :partial => "recent_suspects", locals: {state: 'inactive'} %>
    </tab>

  </tabs>
</div>
