
  <div class="card">
    <div class="card-content">
      <span class="card-title">Recent Officer Assignments</span>
      <% unless @recent_assignments.empty? %>

        <table class="striped highlight">
          <thead>
            <th>Officer</th>
            <th>Investigation</th>
            <th>Date Assigned</th>
          </thead>
          <% for assignment in @recent_assignments %>
            <tr>
              <td><%= link_to assignment.officer.proper_name, officer_path(assignment.officer) %></td>
              <td><%= link_to assignment.investigation.title, investigation_path(assignment.investigation) %></td>
              <td><%= assignment.start_date.strftime("%m/%d/%y") %></td>
            </tr>
          <% end %>
        </table>

      <% end%>
    </div>
  </div>