<div class="card">
  <div class="card-content">
    <h5>Welcome, <%= @officer.proper_name %>!</h5>
  </div>
</div>

<% if current_user.role == "officer" %>
	<%= render partial: "partials/dashboard", locals: {primary: "assignment_list", 
	                                                   secondary: nil,
	                                                   tertiary: nil,
	                                                   sidebar: "main"} %>
	                                                   
<% elsif current_user.role == "chief" %>
	<%= render partial: "partials/dashboard", locals: {primary: "unit_data", 
	                                                   secondary: nil,
	                                                   tertiary: nil,
	                                                   sidebar: "main"} %> 

<% elsif current_user.role == "commish" %>
	<%= render partial: "partials/dashboard", locals: {primary: "units_overview", 
	                                                   secondary: "recent_tabs",
	                                                   tertiary: "popular_tabs",
	                                                   sidebar: "commish_actions"} %>

<% end %>