
<div id="tabbed">
  <tabs>

    <tab name="current suspects" v-bind:selected="true">
      <%= render :partial => "current_assignments" %>
    </tab>

    <% unless @past_assignments.empty? %>
	    <tab name="previous suspects">
	      <%= render :partial => "past_assignments" %>
	    </tab>
    <% end %>

  </tabs>
</div>