<%= form_with url: eval("#{model_name}_search_path"), method: :get, class: "form-inline", id: "search" do |f| %>
  <%= text_field_tag 'query', '', placeholder: "Search #{model_name}s..." %>
  <!-- submitting via js (press enter) so not using... -->
  <div class = "action"><%= f.submit "Search" %></div>
  
<% end %>