<div class="row">
  <div class="col s1">
  </div>   
  <div class="col s10">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>About GCPD Tracking System</em></span>
        <p>The purpose of this system is to keep accurate and updated information on the various investigations and criminals the GCPD tracks on a daily basis. All officers are also included in the database, and each will have their own user account to access their assignments. The system includes detailed information on each criminal the city is aware of, including past suspected cases and notes on criminal behavior. We keep this system as efficient as possible to fight crime (so that someday Batman's services will not be needed).
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
  <div class="col s1">
  </div>  
</div>

