<div class="row">
  <div class="col s1">
  </div>

  <div class="col s10">
    <div class="carousel carousel-slider">
      <a class="carousel-item" href="#one"><%= image_tag 'station.jpg' %></a>
      <a class="carousel-item" href="#two"><%= image_tag 'officers.jpg' %></a>
      <a class="carousel-item" href="#three"><%= image_tag 'officers3.jpg' %></a>
      <a class="carousel-item" href="#four"><%= image_tag 'officers2.jpg' %></a>
    </div>
    <div class="card ">
      <div class="card-content">
        <h4>Welcome to the GCPD Crime Tracking System</h4>
        <p>This is the most amazing crime tracker ever and the 
          Gotham City Police Department is proud to be the owner 
          of this great software.  Hopefully we will be able to 
          do a better job fighting crime so that the Dark Knight's 
          services are no longer needed.</p>
      </div>
    </div>
  </div>

  <div class="col s1">
  </div>
</div>