<div class="row">   
  <div class="col s1">
  </div>

  <div class="col s10">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><em>The GCPD Privacy Policy</em></span>
        <p>Our privacy policy is simple and does not require a lawyer 
          to understand it.  
          Any GCPD officer has no expectation of privacy in our system.  
          We are constantly collecting data on our officers in case any of the 
          information proves valuable in the future.  We limit officers' 
          access to other officers' data, but we are not responsible for 
          any violations. 
          <br><br>
          We also collect information on potential criminals and suspects. This 
          is necessary to ensure the safety of the public.  We do not however, 
          collect as much private data as Facebook does.
          <br><br>
        </p>
        It's really that simple!
        <p>&nbsp;</p>
      </div>
    </div>
  </div>

  <div class="col s1">
  </div>
</div>