<div class="card">
  <div class="card-content">
    <h5>Information for <%= best_in_place_if (can? :edit, @unit), @unit, :name, as: :input %><br /><br /></h5><br />

    <b>Number of Active Officers:&nbsp;&nbsp;</b>
      <%= @unit.number_of_active_officers %>
      <br /><br />

    <b>Number of Open Cases:&nbsp;&nbsp;</b>
      <%= @unit.number_of_unique_open_investigations %>
      <br /><br />

  </div>
</div>